<div class="container" [hidden]="isPageLoading || errors">
    <div class="row">
        <div class="col-xs-12 mb-3 mt-1">

            <h1 class="float-xs-left page-title">Edit chapter</h1>

            <div class="float-xs-right">
                <rs-loader [size]="8" *ngIf="isSaving"></rs-loader>
                <span class="text-muted font-italic m-r-2">{{ isSaving ? 'saving...' : 'saved ' + formatDate(episode.updated_at) }}</span>
                <button class="btn btn-outline-primary" [routerLink]="['/home/adventures', adventure.id, 'chapters', episode.id ]">Play</button>
            </div>

            <div class="clearfix"></div>
            <p class="breadcrumbs mb-0"><span class="text-muted">Adventure: </span><a
                    [routerLink]="['/home/adventures', adventure.id, 'edit']">{{ adventure.title }}</a></p>

        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-xs-12">

                    <div class="edit-box">

                        <div class="form-group">
                            <label for="title">Title</label>
                            <input #title="ngModel" [(ngModel)]="episode.title" id="title" name="title" type="text"
                                   class="form-control">
                        </div>

                        <rs-content-edit *ngIf="!isPageLoading" [content]="episode.content"
                                         (onUpdate)="updateEpisode(episode)"></rs-content-edit>

                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-4 mt-1 pt-1">

            <div class="edit-box-sidebar">

                <label for="widgets">Widgets</label>
                <div id="widgets" class="edit-box-sidebar--widgets">

                    <rs-widget-icons></rs-widget-icons>

                </div>

                <label for="chapters">Chapters</label>

                <ol id="chapters" class="edit-box-sidebar--chapters">
                    <li *ngFor="let e of adventure.episodes" [ngClass]="{'font-italic': !e.title}">
                        <a routerLinkActive="active" [routerLink]="['/home/adventures', adventure.id, 'chapters', e.id, 'edit']">{{ e.title ? e.title : 'Untitled chapter'}}</a>
                    </li>
                </ol>

            </div>


            <div class="edit-box mt-2">
                <label for="preview">Preview</label>
            </div>

            <div class="edit-box">
                <div rs-preview class="generator-box content-box content-box--paper content-box--markdown"
                     [html]="episode.content.html"></div>
            </div>
        </div>
    </div>

</div>

<rs-page-loader *ngIf="isPageLoading"></rs-page-loader>

<rs-page-not-found [text]="'Chapter not found'" *ngIf="!isPageLoading && errors"></rs-page-not-found>


