<div class="container" [hidden]="isPageLoading || errors">
    <div class="row">
        <div class="col-xs-12 mb-3 mt-1">

            <h1 class="float-xs-left page-title" [ngClass]="{'font-italic': !episode.title}">
                {{ episode.title ? episode.title : 'Untitled chapter'}}</h1>


            <div class="float-xs-right">
                <button class="btn btn-outline-primary"
                        [routerLink]="['/home/adventures', adventure.id, 'chapters', episode.id, 'edit']">Edit
                </button>
            </div>

            <div class="clearfix"></div>
            <p class="breadcrumbs mb-0"><span class="text-muted">Adventure: </span><a
                    [routerLink]="['/home/adventures', adventure.id]">{{ adventure.title }}</a></p>

        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-xs-12">

                    <div *ngIf="episode.content.html != ''" class="content-box content-box--paper content-box--markdown"
                         [innerHTML]="episode.content.html"></div>

                    <div *ngIf="episode.content.html == ''" class="content-box content-box--paper content-box--markdown text-xs-center">
                        <span class="font-italic empty-state-title">Nothing here...</span>
                    </div>

                    <div class="mt-2">
                        <div class="float-xs-right" *ngIf="nextEpisode">
                            <p class="text-uppercase mb-0 text-muted text-xs-right">NEXT</p>
                            <a [routerLink]="['/home/adventures', adventure.id, 'chapters', nextEpisode.id]" [ngClass]="{'font-italic': !nextEpisode.title}">
                                {{ nextEpisode.title ? nextEpisode.title : 'Untitled chapter'}}</a>
                        </div>

                        <div class="float-xs-left" *ngIf="previousEpisode">
                            <p class="text-uppercase mb-0 text-muted text-xs-left">PREVIOUS</p>
                            <a [routerLink]="['/home/adventures', adventure.id, 'chapters', previousEpisode.id]" [ngClass]="{'font-italic': !previousEpisode.title}">
                                {{ previousEpisode.title ? previousEpisode.title : 'Untitled chapter'}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">

            <div class="play-box-sidebar">

                <label for="widgets">Widgets</label>
                <div id="widgets" class="play-box-sidebar--widgets">

                    <rs-widget-icons></rs-widget-icons>

                </div>

                <label for="chapters">Chapters</label>

                <div class="play-box-sidebar--chapters">
                    <ol id="chapters">

                        <li *ngFor="let episode of adventure.episodes" [ngClass]="{'font-italic': !episode.title}">
                            <a routerLinkActive="active"
                               [routerLink]="['/home/adventures', adventure.id, 'chapters', episode.id]">{{
                                episode.title ? episode.title : 'Untitled chapter'}}</a>
                        </li>
                    </ol>
                </div>

            </div>
        </div>
    </div>

</div>

<rs-page-loader *ngIf="isPageLoading"></rs-page-loader>

<rs-page-not-found [text]="'Chapter not found'" *ngIf="!isPageLoading && errors"></rs-page-not-found>


