<div class="container" [hidden]="isPageLoading || errors">
    <div class="row">
        <div class="col-xs-12 mb-3 mt-1">

            <h1 class="float-xs-left page-title" [ngClass]="{'font-italic': !adventure.title}">
                {{ adventure.title ? adventure.title : 'Untitled adventure'}}</h1>

            <div class="float-xs-right">
                <button class="btn btn-outline-primary" [routerLink]="['/home/adventures', adventure.id, 'edit']">Edit
                </button>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-xs-12">

                    <div *ngIf="adventure.content.html != ''" class="content-box content-box--paper content-box--markdown"
                         [innerHTML]="adventure.content.html"></div>

                    <div *ngIf="adventure.content.html == ''" class="content-box content-box--paper content-box--markdown text-xs-center">
                        <span class="font-italic empty-state-title">Nothing here...</span>
                    </div>

                    <div class="mt-2">
                        <div class="float-xs-right" *ngIf="nextEpisode">
                            <p class="text-uppercase m-b-0 text-muted text-xs-right">NEXT</p>
                            <a [routerLink]="['/home/adventures', adventure.id, 'chapters', nextEpisode.id]" [ngClass]="{'font-italic': !nextEpisode.title}">
                                {{ nextEpisode.title ? nextEpisode.title : 'Untitled chapter'}}</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-4">

            <div class="play-box-sidebar">

                <label for="widgets">Widgets</label>
                <div id="widgets" class="play-box-sidebar--widgets">

                    <rs-widget-icons></rs-widget-icons>

                </div>

                <div *ngIf="adventure.episodes.length > 0">
                    <label for="chapters">Chapters</label>

                    <div class="play-box-sidebar--chapters">
                        <ol id="chapters">

                            <li *ngFor="let episode of adventure.episodes" [ngClass]="{'font-italic': !episode.title}">
                                <a [routerLink]="['/home/adventures', adventure.id, 'chapters', episode.id]">{{
                                    episode.title ? episode.title : 'Untitled chapter'}}</a>
                            </li>
                        </ol>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>

<rs-page-loader *ngIf="isPageLoading"></rs-page-loader>

<rs-page-not-found [text]="'Adventure not found'" *ngIf="!isPageLoading && errors"></rs-page-not-found>

