<div class="full-height-scrollable pb-5">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 mb-3 mt-1">

                <h1 class="page-title">Markdown</h1>

                <p class="text-muted">Here are some examples to help you write Markdown.</p>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 color-white text-uppercase">
                <p>Bold, italic and paragraphs</p>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-6 ">
                <div class="content-box">
                    <div class="edit-box">
                    <pre>You can create strong emphasis (bold) by using **asterisks** or __underscores__. For italics use one *asterisk* or _underscore_. Combined emphasis are created by **using _both_**.

Adding paragraphs is done by having an empty line between text.</pre>

                    </div>

                </div>
            </div>

            <div class="col-sm-6">
                <div class="content-box content-box--paper content-box--markdown">
                    <p>You can create strong emphasis (bold) by using <strong>asterisks</strong> or
                        <strong>underscores</strong>. For italics use one <em>asterisk</em> or <em>underscore</em>.
                        Combined
                        emphasis are created by <strong>using <em>both</em></strong>.</p>
                    <p>Adding paragraphs is done by having an empty line between text.</p>
                </div>
            </div>
        </div>

        <div class="row mt-5 text-uppercase">
            <div class="col-sm-6 color-white">
                <p>Headings</p>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-6 ">
                <div class="content-box">
                    <div class="edit-box">
                    <pre># Heading 1
## Heading 2
### Heading 3
#### Heading 4
##### Heading 5
###### Heading 6</pre>

                    </div>

                </div>
            </div>

            <div class="col-sm-6">
                <div class="content-box content-box--paper content-box--markdown">
                    <h1>Heading 1</h1>
                    <h2>Heading 2</h2>
                    <h3>Heading 3</h3>
                    <h4>Heading 4</h4>
                    <h5>Heading 5</h5>
                    <h6>Heading 6</h6>
                </div>
            </div>
        </div>

        <div class="row mt-5 text-uppercase">
            <div class="col-sm-6 color-white">
                <p>Information boxes</p>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-6 ">
                <div class="content-box">
                    <div class="edit-box">
                    <pre>># Titles inside boxes!
>
> You can use > to create information boxes. Everything works as usual, it's just wrapped inside a box.
>
> ### Don't believe me?
>
> Here is something **bold** and *italic*.</pre>

                    </div>

                </div>
            </div>

            <div class="col-sm-6">
                <div class="content-box content-box--paper content-box--markdown">
                    <blockquote>
                        <h1>Titles inside boxes!</h1>
                        <p>You can use &gt; to create information boxes. Everything works as usual, it's just wrapped
                            inside a box. </p>
                        <h3>Don't believe me?</h3>
                        <p>Here is something <strong>bold</strong> and <em>italic</em>. </p>
                    </blockquote>
                </div>
            </div>
        </div>

        <div class="row mt-5 text-uppercase">
            <div class="col-sm-6 color-white">
                <p>Lists</p>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-6 ">
                <div class="content-box">
                    <div class="edit-box">
                    <pre>Use +,* or - to create **unordered** lists.

+ this works
- and so does this
* and don't forget about this.

While **ordered** lists are done like this.

1. First place.
1. Second place?
1. Third place!</pre>

                    </div>

                </div>
            </div>

            <div class="col-sm-6">
                <div class="content-box content-box--paper content-box--markdown">
                    <p>Use +,* or - to create <strong>unordered</strong> lists.</p>
                    <ul>
                        <li>this works</li>
                        <li>and so does this</li>
                        <li>and don't forget about this.</li>
                    </ul>
                    <p>While <strong>ordered</strong> lists are done like this.</p>
                    <ol>
                        <li>First place.</li>
                        <li>Second place?</li>
                        <li>Third place!</li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="row mt-5 text-uppercase">
            <div class="col-sm-6 color-white">
                <p>Tables</p>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-6 ">
                <div class="content-box">
                    <div class="edit-box">
                    <pre>|Heading|Description|Another column|
| :------------- |:-------------:| -----:|
| tables | can be made | easily |
| you can  | even | align items   |
| left aligned| center aligned| right aligned |

There must be at least 3 dashes separating each header cell.</pre>

                    </div>

                </div>
            </div>

            <div class="col-sm-6">
                <div class="content-box content-box--paper content-box--markdown">
                    <table>
                        <thead>
                        <tr>
                            <th style="text-align: left;">Heading</th>
                            <th style="text-align: center;">Description</th>
                            <th style="text-align: right;">Another column</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td style="text-align: left;">tables</td>
                            <td style="text-align: center;">can be made</td>
                            <td style="text-align: right;">easily</td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">you can</td>
                            <td style="text-align: center;">even</td>
                            <td style="text-align: right;">align items</td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">left aligned</td>
                            <td style="text-align: center;">center aligned</td>
                            <td style="text-align: right;">right aligned</td>
                        </tr>
                        </tbody>
                    </table>
                    <p>There must be at least 3 dashes separating each header cell.</p>
                </div>
            </div>
        </div>

    </div>
</div>
