<div class="container">
    <div class="row mt-3">
        <div class="col-md-6 pr-1">
            <div class="auth-box">

                <h1>Login</h1>

                <form (ngSubmit)="onSubmit()" #loginForm="ngForm" novalidate class="mt-2">
                    <fieldset [disabled]="inProgress">
                        <div class="form-group"
                             [ngClass]="{'has-danger': !email.valid && !email.pristine || errors.model}">
                            <label for="email" class="col-form-label">Email:</label>
                            <input id="email" name="email" type="email" class="form-control"
                                   [ngClass]="{'form-control-danger': !email.valid && !email.pristine || errors.model}"
                                   [(ngModel)]="user.username"
                                   required
                                   pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,64})+$"
                                   #email="ngModel">

                            <div *ngIf="!email.valid && !email.pristine" class="form-control-feedback">A valid email is
                                required.
                            </div>

                            <div *ngIf="errors.model" class="form-control-feedback">
                                This email does not exist.
                            </div>
                        </div>

                        <div class="form-group"
                             [ngClass]="{'has-danger': (!password.valid && !password.pristine) || errors.password || errors.invalid_credentials}">
                            <label for="password">Password:</label>
                            <input id="password" name="password" type="password" class="form-control"
                                   [(ngModel)]="user.password"
                                   [ngClass]="{'form-control-danger': (!password.valid && !password.pristine) || errors.password || errors.invalid_credentials} "
                                   required
                                   minlength="6"
                                   #password="ngModel">

                            <div class="form-control-feedback"
                                 *ngIf="(!password.valid && !password.pristine) || errors.password || errors.invalid_credentials">
                                <span *ngIf="!password.valid ">

                                    <span *ngIf="password.errors.required">A valid password is required.</span>

                                    <span *ngIf="password.errors.minlength">Must be at least {{
                                    password.errors.minlength.requiredLength}} characters.
                                    You need at least <b>{{ password.errors.minlength.requiredLength -
                                        password.errors.minlength.actualLength }}</b> more.
                                    </span>


                                </span>

                                <span *ngIf="errors.invalid_credentials">This is not the right password. Did you <a
                                        [routerLink]="['/forgot-password']">forgot your password?</a></span>

                                <span *ngIf="errors.password">
                                    {{ errors.password[0]}}
                                </span>
                            </div>
                        </div>

                        <div class="float-xs-left mt-3">
                            <rs-loader [size]="8" *ngIf="inProgress"></rs-loader>
                            <button [disabled]="inProgress" type="submit" class="btn btn-primary">Login</button>

                            <div class="mt-3">
                                <a [routerLink]="['/forgot-password']">Forgot your password?</a>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                    </fieldset>
                </form>
            </div>
        </div>

        <div class="col-md-6 pl-1">
            <div class="text-xs-center auth-box">
                <h3>Don't have an account?</h3>

                <a [routerLink]="['/register']" class="btn btn-outline-primary mt-2">Register</a>
            </div>
        </div>
    </div>
</div>