<div class="widget widget--dice" widget #widget="WidgetDirective">
    <div class="widget-header draggable" [draggable]>

        <button type="button" class="close" aria-label="Close" (click)="closeWidget()" tooltip="Close">
            <span aria-hidden="true">&times;</span>
        </button>

        <button type="button" class="close mr-1" (click)="widget.togglePinned()" tooltip="Pin">
            <i class="material-icons" >{{ widget.pinned ? 'turned_in' : 'turned_in_not' }}</i>
        </button>

        <h4>Roll dice</h4>

    </div>

    <div class="widget-block">

        <div class="container">

            <ul class="nav nav-tabs row">
                <li class="nav-item col-xs text-xs-center pa-0">
                    <a class="nav-link" href="javascript:void(0)" [ngClass]="{'active': !showResults}"
                       (click)="showResults = false">Settings</a>
                </li>
                <li class="nav-item col-xs text-xs-center pa-0">
                    <a class="nav-link" href="javascript:void(0)" [ngClass]="{'active': showResults}"
                       (click)="showResults = true">Results</a>
                </li>
            </ul>
        </div>


        <div class="container mt-2" *ngIf="!showResults">
            <div class="row">
                <div class="col-xs-12 text-xs-center">
                    <p class="text-muted text-uppercase">
                        <small>Number of dice</small>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-5 p-0 text-xs-left">
                    <button class="btn btn-secondary-outline" (click)="minusRolls(1)">-1</button>
                    <button class="btn btn-secondary-outline" (click)="minusRolls(3)">-3</button>
                </div>

                <div class="col-xs-2 p-0">
                    <input select-text-on-focus type="text" class="form-control text-xs-center"
                           [ngModel]="numberOfRolls">
                </div>

                <div class="col-xs-5 p-0 text-xs-right">
                    <button class="btn btn-secondary-outline" (click)="plusRolls(1)">+1</button>
                    <button class="btn btn-secondary-outline" (click)="plusRolls(3)">+3</button>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-xs-12 text-xs-center">
                    <p class="text-muted text-uppercase">
                        <small>Sides</small>
                    </p>
                </div>
            </div>

            <div class="row">
                <button class="btn btn-secondary text-lowercase col-xs-3 w-100"
                        [ngClass]="{'active': isDiceTypeActive(4)}"
                        (click)="selectType(4)">
                    d4
                </button>
                <button class="btn btn-secondary text-lowercase col-xs-3 w-100"
                        [ngClass]="{'active': isDiceTypeActive(6)}"
                        (click)="selectType(6)">
                    d6
                </button>
                <button class="btn btn-secondary text-lowercase col-xs-3 w-100"
                        [ngClass]="{'active': isDiceTypeActive(8)}"
                        (click)="selectType(8)">
                    d8
                </button>
                <button class="btn btn-secondary text-lowercase col-xs-3 w-100"
                        [ngClass]="{'active': isDiceTypeActive(10)}"
                        (click)="selectType(10)">
                    d10
                </button>
            </div>

            <div class="row mt-1">
                <button class="btn btn-secondary text-lowercase col-xs-4 w-100"
                        [ngClass]="{'active': isDiceTypeActive(12)}"
                        (click)="selectType(12)">
                    d12
                </button>

                <button class="btn btn-secondary text-lowercase col-xs-4 w-100"
                        [ngClass]="{'active': isDiceTypeActive(20)}"
                        (click)="selectType(20)">
                    d20
                </button>

                <button class="btn btn-secondary text-lowercase col-xs-4 w-100"
                        [ngClass]="{'active': isDiceTypeActive(100)}"
                        (click)="selectType(100)">
                    d100
                </button>
            </div>

            <div class="row mt-2">
                <div class="col-xs-12 text-xs-center">
                    <p class="text-muted text-uppercase">
                        <small>Modifier</small>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-5 p-0 text-xs-left">
                    <button class="btn btn-secondary-outline" (click)="minusModifier(1)">-1</button>
                    <button class="btn btn-secondary-outline" (click)="minusModifier(3)">-3</button>
                </div>

                <div class="col-xs-2 p-0 text-xs-center">
                    <span style="font-size: 150%"><span *ngIf="modifier >= 0">+</span>{{ modifier }}</span>
                </div>

                <div class="col-xs-5 p-0 text-xs-right">
                    <button class="btn btn-secondary-outline" (click)="plusModifier(1)">+1</button>
                    <button class="btn btn-secondary-outline" (click)="plusModifier(3)">+3</button>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 mt-3 text-xs-center">
                    <button class="btn btn-primary" (click)="roll()">Roll<br>
                        <small class="text-lowercase">({{ numberOfRolls + "d" + selectedDiceType + "" +
                            (prefixModifier(modifier) != '+0' ? " " + prefixModifier(modifier) : '') }})
                        </small>
                    </button>
                </div>
            </div>

        </div>


        <div class="container mt-2" *ngIf="showResults">

            <p class="pa-2 text-xs-center font-italic" *ngIf="results.length == 0">
                You need to roll first!
            </p>

            <div *ngIf="results.length > 0">
                <div class="row">
                    <div class="col-xs-12 text-xs-center">
                        <p class="text-muted text-uppercase">
                            <small>Results</small>
                            <br>
                            <small>({{ numberOfRolls }}d{{ selectedDiceType}}<span *ngIf="modifier != 0"> {{prefixModifier
                        (modifier)}}</span>)
                            </small>
                        </p>
                    </div>
                </div>

                <div class="row">

                    <div class="col-xs-4 text-xs-center mt-1" *ngFor="let result of results; let i = index">
                        <span class="text-muted"><small>{{(i + 1) }}.</small></span><br>
                        <span style="font-size: 200%"><b>{{ result.result + result.modifier }}</b></span><br>
                        <span class="text-muted" *ngIf="result.modifier != 0"><small>({{ result.result }}
                            {{ prefixModifier(modifier) }})
                </small></span>
                    </div>

                    <div class="col-xs-12 text-xs-center mt-2" *ngIf="numberOfRolls > 1">
                        <p class="text-muted text-uppercase">
                            <small>Sum</small>
                            <br>
                            <span class="color-black" style="font-size: 200%">{{ getSum() }}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--     <div class="widget-footer">


    </div> -->
</div>

