<nav class="navbar navbar-full navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['/home']">RoleStack</a>

        <ul *ngIf="!isLoggedIn" class="nav navbar-nav float-xs-right">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/login']">Login</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/register']">Register</a>
            </li>
        </ul>

        <ul *ngIf="isLoggedIn" class="nav navbar-nav float-xs-right">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" [routerLink]="['/home/adventures']">Adventures</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="logout()" [routerLink]="['/login']"><i class="material-icons">power_settings_new</i></a>
            </li>
        </ul>
    </div>
</nav>