<div class="container">
    <div class="row mt-3">
        <div class="col-md-6 pr-1">
            <div class="auth-box">

                <h1>Reset password</h1>

                <form (ngSubmit)="onSubmit()" #resetPasswordForm="ngForm" novalidate class="mt-2">

                    <fieldset [disabled]="inProgress">
                        <div class="form-group"
                             [ngClass]="{'has-danger': !email.valid && !email.pristine || errors.model}">
                            <label for="email" class="col-form-label">Email:</label>
                            <input id="email" name="email" type="email" class="form-control"
                                   [ngClass]="{'form-control-danger': !email.valid && !email.pristine || errors.model}"
                                   [(ngModel)]="user.email"
                                   required
                                   pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,64})+$"
                                   #email="ngModel">

                            <div *ngIf="!email.valid && !email.pristine" class="form-control-feedback">A valid email is
                                required.
                            </div>

                            <div *ngIf="errors.model" class="form-control-feedback">
                                This email does not exist.
                            </div>
                        </div>

                        <div class="form-group"
                             [ngClass]="{'has-danger': (!password.valid && !password.pristine) || errors.password}">
                            <label for="password">Password:</label>
                            <input id="password" name="password" type="password" class="form-control"
                                   [(ngModel)]="user.password"
                                   [ngClass]="{'form-control-danger': (!password.valid && !password.pristine) || errors.password}"
                                   required
                                   minlength="6"
                                   #password="ngModel">

                            <div class="form-control-feedback"
                                 *ngIf="(!password.valid && !password.pristine) || errors.password">
                                <span *ngIf="!password.valid">

                                    <span *ngIf="password.errors.required">A valid password is required.</span>

                                    <span *ngIf="password.errors.minlength">Must be at least {{
                                    password.errors.minlength.requiredLength}} characters.
                                    You need at least <b>{{ password.errors.minlength.requiredLength -
                                        password.errors.minlength.actualLength }}</b> more.
                                    </span>

                                </span>

                                <span *ngIf="errors.password">
                                    {{ errors.password[0]}}
                                </span>
                            </div>
                        </div>

                        <div class="form-group"
                             [ngClass]="{'has-danger': !passwordConfirmation.valid && !passwordConfirmation.pristine}">
                            <label for="password_confirm">Retype password:</label>
                            <input id="password_confirm" name="password_confirm" type="password" class="form-control"
                                   [(ngModel)]="user.password_confirmation"
                                   [ngClass]="{'form-control-danger': !passwordConfirmation.valid && !passwordConfirmation.pristine}"
                                   validateEqual="password"
                                   required
                                   #passwordConfirmation="ngModel">

                            <div class="form-control-feedback"
                                 *ngIf="passwordConfirmation.errors && !passwordConfirmation.pristine">
                                Passwords do not match.
                            </div>
                        </div>

                        <p class="text-danger" *ngIf="errors.email">
                            {{ errors.email }}
                        </p>

                        <div class="mt-3 clearfix float-xs-left">
                            <rs-loader [size]="8" *ngIf="inProgress"></rs-loader>
                            <button [disabled]="inProgress" type="submit" class="btn btn-primary">Reset password
                            </button>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>

    </div>
</div>