.adventure-card {
  @include content-padding();
  @include background-paper();

  &--title {
    @include content-title();

    a {
      color: $color-bordeaux-red;

      &:hover, &:active, &:focus {
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }

  &--date {
    color: $gray-light;
    font-size: 14px;
  }

  &--chapters {
    color: $gray-light;

    a {
      color: $gray-light;

      &:hover, &:active, &:focus {
        cursor: pointer;
        color: black;
        text-decoration: none;
      }
    }
  }

  &--action {
    color: $gray-lighter;

    &:hover, &:active, &:focus {
      cursor: pointer;
      color: $brand-primary;
    }
  }
}