html, body {
  height: 100%;
}

body {
  padding-top: calc(1rem + #{$navbar-height});
}

.page-loading-text {
  color: white;
  font-size: 30px;
}

.empty-state-title {
  @include content-title();
}

.breadcrumbs {
  color: #cacaca;
}

.page-title
{
  color: white;
  padding-top: 0.35rem;
}

.full-height-scrollable {
  height: 100%;
  overflow: auto;
}

::selection
{
  background: $brand-primary;
  color: white;
}

.draggable
{
  cursor: move;
}