@mixin content-padding() {
  padding: 2rem;
  background: #fff;
}

@mixin content-title() {
  font-family: $font-family-merriweather;
  font-size: 1.5rem;
  color: $color-bordeaux-red;
}

@mixin white-label()
{
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
}

@mixin background-paper()
{
  background-size: cover;
  background: url(/images/content-background.jpg) repeat-y;
}