rs-widget-outlet {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

$widget-border: 1px solid $gray-lighter;
$widget-inner-border: 1px solid $gray-lighter;

.widget {
  position: absolute;
  top: 90px;
  pointer-events: auto;
  background: white;
  left: 240px;
  border: $widget-border;
  z-index: 1031;

  &:focus, &:active {
    z-index: 99999;
    outline: none;
  }

  &--dice {
    width: 350px;
  }

  .widget-header, .widget-footer {
    user-select: none;
    color: black;
    padding: .75rem 1.25rem;
    background-color: #f5f5f5;

    h1, h2, h3, h4, h5, h6 {
      margin: 0;
      color: $gray-light;
    }
  }

  .widget-header {
    border-bottom: $widget-inner-border;
  }

  .widget-footer {
    border-top: $widget-inner-border;
  }

  .widget-block {
    color: black;
    padding: 1.25rem;
    height: 550px;
    min-height: 550px;
    resize: none;
    overflow-y: auto;
  }
}