<div class="container py-3">
    <div class="row">
        <div class="col-xs-12 text-xs-center">

            <rs-loader></rs-loader>
            <span class="page-loading-text">loading...</span>

        </div>
    </div>
</div>