<div class="container" [hidden]="isPageLoading || errors">
    <div class="row">
        <div class="col-xs-12 mb-3 mt-1">

            <h1 class="page-title float-xs-left">Edit adventure</h1>

            <div class="float-xs-right">
                <rs-loader [size]="8" *ngIf="isSaving"></rs-loader>
                <span class="text-muted font-italic mr-2">{{ isSaving ? 'saving...' : 'saved ' + formatDate(adventure.updated_at) }}</span>
                <a class="btn btn-outline-primary" [routerLink]="['/home/adventures', adventure.id ]">Play</a>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-xs-12">

                    <div class="edit-box">

                        <div class="form-group">
                            <label for="title">Title</label>
                            <input #title="ngModel" [(ngModel)]="adventure.title" id="title" name="title" type="text"
                                   class="form-control">
                        </div>

                        <rs-content-edit *ngIf="!isPageLoading" [content]="adventure.content"
                                         (onUpdate)="updateAdventure(adventure)"></rs-content-edit>

                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-4 mt-1 pt-1">

            <div class="edit-box-sidebar">

                <label for="widgets">Widgets</label>
                <div id="widgets" class="edit-box-sidebar--widgets">

                    <rs-widget-icons></rs-widget-icons>

                </div>

                <label for="chapters">Chapters</label>

                <div class="edit-box-sidebar--chapters">
                    <ol id="chapters">

                        <p *ngIf="adventure.episodes.length == 0" class="font-italic"><small>You haven't created any chapters...</small></p>
                        <li *ngFor="let episode of adventure.episodes" [ngClass]="{'font-italic': !episode.title, 'text-linethrough': episode.deleted_at}">
                            <a [routerLink]="['/home/adventures', adventure.id, 'chapters', episode.id, 'edit']">{{
                                episode.title ? episode.title : 'Untitled chapter'}}</a>

                            <span class="float-xs-right">
                                <span class="material-icons">&nbsp;</span>
                                <rs-loader *ngIf="episode.inProgress" [size]="10"></rs-loader>
                                <i [hidden]="episode.deleted_at || episode.inProgress" class="material-icons" (click)="deleteEpisode(episode)">delete</i>
                                <i [hidden]="!episode.deleted_at || episode.inProgress" class="material-icons" (click)="restoreEpisode(episode)" >undo</i><span>{{ episode.secondsAsDeleted }}</span>
                            </span>

                            <span class="clearfix"></span>
                        </li>
                    </ol>

                    <div class="text-xs-right mt-2">
                        <rs-loader *ngIf="isAddingEpisode" [size]="14"></rs-loader>
                        <button [hidden]="isAddingEpisode" [disabled]="isAddingEpisode" class="btn-link"
                                (click)="addEpisode()">add chapter
                        </button>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>


            <div class="edit-box mt-2">
                <label for="preview">Preview</label>
            </div>

            <div class="edit-box">
                <div rs-preview class="generator-box content-box content-box--paper content-box--markdown"
                     [html]="adventure.content.html"></div>
            </div>
        </div>
    </div>

</div>

<rs-page-loader *ngIf="isPageLoading"></rs-page-loader>

<rs-page-not-found [text]="'Adventure not found'" *ngIf="!isPageLoading && errors"></rs-page-not-found>
