<div class="container" *ngIf="!isPageLoading">
    <div class="row">
        <div class="col-xs-12 mb-3 mt-1">

            <h1 class="float-xs-left page-title">Adventures</h1>

            <div class="float-xs-right">
                <rs-loader [size]="8" *ngIf="isCreating"></rs-loader>
                <button class="btn btn-outline-primary" [disabled]="isCreating || isPageLoading"
                        (click)="createAdventure()"> Create
                </button>
            </div>

        </div>
    </div>

    <!-- Empty state -->
    <div class="row">
        <div class="col-xs-12">

            <div *ngIf="adventures.length == 0" class="content-box content-box--background text-xs-center">
                <span class="empty-state-title">You haven't created any adventures...</span>
            </div>

        </div>
    </div>

    <!-- Adventure cards -->
    <div class="row">

        <rs-adventure-card [ngClass]="{'col-md-6': adventures.length <= 2, 'col-md-4': adventures.length > 2}" class="m-b-2" *ngFor="let adventure of adventures"
                           [adventure]="adventure" (onDeleted)="onAdventureDeleted($event)"></rs-adventure-card>

    </div>
</div>

<rs-page-loader *ngIf="isPageLoading"></rs-page-loader>
