<div class="container">
    <div class="row mt-3">
        <div class="col-md-6 pr-1">
            <div class="auth-box">

                <div [hidden]="!isSuccess">
                    <h1>Success!</h1>

                    <p class="mt-2">Check your email (<b>{{ user.username }}</b>) for instructions on how to change your password.</p>
                </div>

                <div [hidden]="isSuccess">
                    <h1>Forgot password?</h1>

                    <form (ngSubmit)="onSubmit()" #forgotPasswordForm="ngForm" novalidate class="mt-2">
                        <fieldset [disabled]="inProgress">
                            <div class="form-group"
                                 [ngClass]="{'has-danger': !email.valid && !email.pristine || errors.model}">
                                <label for="email" class="col-form-label">Email:</label>
                                <input id="email" name="email" type="email" class="form-control"
                                       [ngClass]="{'form-control-danger': !email.valid && !email.pristine || errors.model}"
                                       [(ngModel)]="user.username"
                                       required
                                       pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,64})+$"
                                       #email="ngModel">

                                <div *ngIf="!email.valid && !email.pristine" class="form-control-feedback">A valid email
                                    is
                                    required.
                                </div>

                                <div *ngIf="errors.model" class="form-control-feedback">
                                    This email does not exist. Do you want <a [routerLink]="['/register']">to register?</a>
                                </div>
                            </div>

                            <div class="float-xs-left mt-3">
                                <rs-loader [size]="8" *ngIf="inProgress"></rs-loader>
                                <button [disabled]="inProgress" type="submit" class="btn btn-primary">Send password
                                    link
                                </button>
                            </div>
                            <div class="clearfix"></div>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>