<div [ngClass]="{'text-linethrough': adventure.deleted_at}"
     class="card adventure-card">

    <h3 class="adventure-card--title" [ngClass]="{'font-italic': !adventure.title}">
        <a [routerLink]="['/home/adventures', adventure.id]">{{ adventure.title ? adventure.title : 'Untitled adventure'}}</a></h3>

    <p class="adventure-card--date">edited: {{ formatDate(adventure.updated_at) }}</p>

    <div *ngIf="adventure.episodes.length > 0" class="adventure-card--chapters">
        <p class="mb-0"><small>CHAPTERS:</small></p>
        <ol>
            <li *ngFor="let episode of adventure.episodes"><a [routerLink]="['/home/adventures', adventure.id, 'chapters', episode.id]" [ngClass]="{'font-italic': !episode.title}">
                {{ episode.title ? episode.title : 'Untitled chapter'}}</a></li>
        </ol>
    </div>
</div>

<div class="text-xs-right">

    <div *ngIf="!adventure.deleted_at">
        <rs-loader [size]="10" *ngIf="inProgress"></rs-loader>
        <div *ngIf="!inProgress">
            <a [routerLink]="['/home/adventures/', adventure.id, 'edit']"><i
                    class="material-icons adventure-card--action">edit</i></a>
            <i (click)="deleteAdventure(adventure)" class="material-icons adventure-card--action">delete</i>
        </div>
    </div>

    <div *ngIf="adventure.deleted_at">
            <span (click)="restoreAdventure(adventure)" class="adventure-card--action"><i
                    class="material-icons">undo</i></span>
    </div>

</div>
