<div class="container py-3">
    <div  class="row">
        <div class="col-xs-12 text-xs-center">

            <span class="page-loading-text">{{ text }} | 404</span>

            <p class="text-muted mt-3">Welp.</p>

        </div>
    </div>
</div>