<div class="form-group">
    <label for="content">Content</label>

    <small><a [routerLink]="['/markdown']" class="float-xs-right">Need help writing markdown?</a></small>
    <textarea auto-resize #body="ngModel" id="content" name="content" class="form-control" [(ngModel)]="content.body" rows="15" style="min-height: 300px"></textarea>
</div>
